body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    background: #f3f3f3;
}

/* 헤더 스타일 */
.header {
    height: 137px;
    background-color: #788665;
    padding: 0 40px;
    box-sizing: border-box;
}

.header-inner {
    position: relative;
    align-items: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 120px;
    display: block;
    margin-top: -10px;
    margin-left: 42px;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 60%;
    max-width: 800px;
}

.nav {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 6px;
}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    color: #CFCFCF;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    transition: color 0.2s ease, font-size 0.2s ease;
}

.nav a.active {
    color: #FFFFFF !important;
    font-weight: 700;
    font-size: 19px;
}

.nav a:not(.active):hover {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.nav a.active:hover {
    color: #FFFFFF;
    font-size: 19px;
}

.nav .divider {
    margin: 0 2px;
    color: #CFCFCF;
    font-size: 16px;
    line-height: 1;
    pointer-events: none;
}

.user-info{
    text-align: right;
    color: #FFFFFF;
    font-weight: bold;
}

.change-btn {
    width: 100%;
    height: 48px;
    padding: 0 14px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    background: #ffffff;
    padding: 10px 40px 40px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    border: 1px solid #ddd;
}

.wrap h3 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.form-box {
    margin-bottom: 18px;
}

/* 로그아웃 버튼 */
.logout-btn {
    width: 100%;
    max-width: 600px;
    height: 35px;
    border: none;
    background-color: #EBF1E6;
    font-size: 16px;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 17px;
    cursor: pointer;
}

/* 기본 로그인 버튼 (비활성: 회색) */
#change-Btn {
    width: 100%;
    max-width: 600px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background-color: #A1A49D;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.2s ease, cursor 0.2s ease;
    margin-top: 20px;
}

/* 활성화된 버튼 (초록색) */
#change-Btn.active {
    background-color: #78866B;
    cursor: pointer;
}

/* 활성화된 버튼에 hover */
#change-Btn.active:hover {
    background-color: #6b7c54;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    height: 48px;
    padding: 0 14px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

/* 에러 메시지 */
.error-msg {
    color: red;
    font-size: 12px;
    margin-top: 6px;
}

.ok-msg {
    color: #2e7d32;
}

.pw-area {
    position: relative;
    display: flex;
    align-items: center;
}

.pw-area .togglePw {
    position: absolute;
    right: 12px;
    top: 50%;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.75;
    margin-top: 3px;
}

.pw-area .togglePw img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

