body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    background: #f3f3f3;
}

/*전체*/
.signup-wrap {
    width: 100%;
    max-width: 470px;
    margin: 40px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

/* 프로필 영역 */
.profile-box {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.profile-img {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 실제 프로필 이미지 */
.profile-img .profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-img .camera {
    position: absolute;
    right: -4px;
    bottom: -4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 0 1px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.profile-img .camera img {
    width: 18px;
    height: 18px;
}

/* 폼 입력 */
.form-box {
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    font-weight: 600;
}

/* 공통 인풋 */
input[type="text"],
input[type="password"] {
    width: 100%;
    height: 48px;
    padding: 0 14px;
    margin-top: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.height-48 {
    height: 48px !important;
}

.id-input-wrap {
    position: relative;
    width: 100%;
}

.id-input-wrap input {
    width: 100%;
    height: 48px;
    padding: 0 90px 0 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.id-check-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 34px;
    padding: 0 12px;

    background: #A1A49D;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
    transition: 0.2s;
}

.id-check-btn.active {
    background: #DFCEB3;
    cursor: pointer;
}

/* 비밀번호 칸 */
.pw-area {
    position: relative;
}

.togglePw {
    width: 22px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* 에러 메시지 */
.error-msg {
    color: red;
    font-size: 12px;
    margin-top: 6px;
}

.ok-msg {
    color: #2e7d32;
}

/* 포커스 시 테두리 */
input:focus {
    border-color: #78866B;
    border-width: 2px;
    outline: none;
}

/* 비활성 상태 */
.submit-btn {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background: #cfd3d8;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: default;
}

/* 비활성 */
.submit-btn:disabled {
    background: #cfd3d8;
    cursor: default;
}

/* 활성 */
.submit-btn.active {
    background: #78866B;
    cursor: pointer;
}
