body {
    font-family: "Pretendard", sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 40px 0;
    text-align: center;
}

/* 로고 */
.logo-wrap {
    margin-bottom: 20px;
}

.main-logo {
    width: 140px;
}

/* 카드 스타일 */
.type-form {
    width: 550px;
    margin: 0 auto;
    background: white;
    padding: 10px 40px 35px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.05);
}

.form-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* 선택 버튼 박스 */
.type-select-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

/* 기본 버튼 */
.type-btn {
    width: 150px;
    height: 140px;
    border-radius: 0;
    background: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

/* 선택 시 */
.type-option.selected .type-btn {
    background: #E9E9E2;
    color: black;
}

/* 다음 버튼 */
#nextBtn {
    width: 100%;
    padding: 14px 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    background: #c8cfc8; /* 비활성 색 */
    color: white;
}

#nextBtn:enabled {
    background: #78866B; /* 활성 색 */
}
